article{
    border: 3px solid grey;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}
header{
    background-color: yellow;
}
footer{
    background-color: black;
    color: white;
}
article:hover{
    border: 3px solid black;
}