.man {
    border: 4px solid black;
    background-color: red;
    height: 200px;
    width: 200px;
}
.md {
    border: 4px solid black ;
    background-color: blue;
    height: 200px;
    width: 200px;
    border-radius: 100px ;
} 

